.hero {
  padding: 50px 8%;
}

.leftSide,
.rightSide {
  flex: 1;
}

.rightSide {
  gap: 2rem;
}

.leftSide h1 {
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  max-width: 500px;
  line-height: 46px;
  color: var(--Very-Dark-Blue);
}

.leftSide p {
  margin-bottom: 20px;
  max-width: 520px;
  color: var(--Very-Dark-Blue);
  font-weight: 400;
}

.emailField {
  justify-content: space-between;
  max-width: 450px;
  position: relative;
}

.emailField input {
  flex: 1;
  border: 0;
  outline: none;
  padding: 13px 15px;
  margin-right: 15px;
  border: 1px solid var(--Desaturated-Blue);
}

.emailField input.borderCol {
  border-color: red;
}

.emailField input:focus {
  border-color: var(--Bright-Blue);
}

.message {
  display: inline-block;
  color: green;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -100%;
}

@media (max-width: 375px) {
  .hero {
    flex-direction: column;
  }

  .leftSide {
    padding-top: 30px;
    order: 2;
    text-align: center;
  }

  .leftSide h1 {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .leftSide p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .rightSide {
    order: 1;
  }

  .photoGrid img {
    width: 100%;
  }

  .emailField {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .emailField input {
    width: 95%;
    margin: 0 auto 20px;
  }
  .button {
    width: 95%;
  }
}
